body {
  width: 80%;
  max-width: 1024px;
  margin: 0 auto;
}

.header {
  padding: 0px 50px 0px 50px;
  position: relative;
}

h1 {
  font-weight: bold;
  font-style: normal;
  font-family: "Sans Serif";
  font-size: 72px;
  color: rgb(91,0,200);
  text-align: center;
}

.container-padding50 {
  padding: 0px 0px 15px 30px;
}

.container-textinput {
  width: 80%;
  display: inline-block;
  padding: 16px;
  font-size: 20px;
  font-family: Helvetica, sans-serif;
}

.container-button {
  width: 10%;
  display: inline-block;
  padding: 17px;
  background-color: rgb(91,0,200);
  color: white;
  font-size: 20px;
  font-family: Helvetica, sans-serif;

  border: 1px solid green;
  border-radius: 2px;
}

.container-image {
  width: 30%;
  display: block;
  float: left;
  margin-right: 3%;
}
